body {
    background-color: white;
}

main {
    color: white;
}

.grid {
    display: grid;
    gap: 10px; /* Расстояние между элементами */
    grid-template-columns: repeat(3, 1fr); /* 7 колонок, ширина каждой 1 фреймворк */
    grid-auto-rows: minmax(3em, auto); /* Минимальная высота строки 3em */
}

    .grid > *:last-child {
        grid-column: 2 / -1;
        сп
    }

#btn_dot {
    font-size: 12px;
}

button {
    border-radius: 10px;
    border: 2px solid;
    transition-duration: 0s;
    font-size: 24px;
    font-weight: bold;
}

    button:hover {
        background-color: red;
        border: 4px solid;
    }

.numbers {
    background-image: linear-gradient(to bottom right, red, yellow);
}

.operators {
    background-image: linear-gradient(to bottom right, blue, red);
    font-weight: bold;
}
